.skeleton{
    background: #ddd;
    margin: 10px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.skeleton.img{
    width: 100%;
    height: 300px;
}

.skeleton.title{
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}

.skeleton.button{
    width: 100%;
    height: 40px;
}

.skeleton-wrapper{
    padding: 10px 15px;
    flex: 0 0 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    overflow: hidden;
}

/* shimmer */
.shimmer-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2s infinite;
    -webkit-animation: loading 2s infinite;
}

.shimmer{
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, .05);
}


@keyframes loading {
    0%{ transform: translateX(-150%) ; -webkit-transform: translateX(-150%) ; -moz-transform: translateX(-150%) ; -ms-transform: translateX(-150%) ; -o-transform: translateX(-150%) ; }
    50%{ transform:translateX(-60%) ; -webkit-transform:translateX(-60%) ; -moz-transform:translateX(-60%) ; -ms-transform:translateX(-60%) ; -o-transform:translateX(-60%) ; }
    100%{ transform:translateX(150%) ; -webkit-transform:translateX(150%) ; -moz-transform:translateX(150%) ; -ms-transform:translateX(150%) ; -o-transform:translateX(150%) ; }
}