.home-img{
    background-image: url(../assets/images/home.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    position: relative;
}
.home-title{
    color: #84eba1;
    text-align: center;
    position: relative;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: #f8f8f8;
}
.home-title::before{
    content: '';
    position: absolute;
    width: 450px;
    height: 3px;
    background: #84eba1;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -1;
}
.home .blog-img{
    height: 300px;
    object-fit: cover;
}